.little-more-title{
  font-size: calc(15px + 2vw);
  text-indent: 5%;
  text-shadow: 1px 1px grey;
  text-shadow: 2px 2px grey;
  font-family: Alkalami;
}

.little-more-text{
  font-size: calc(10px + 0.6vw);
  text-indent: 5%;
  text-align:justify;
  margin: 1% 5%;
}
/* Skills */
.text-on-hover{
  font-size: calc(12px + 1.5vw);
  text-align: center;
  position: absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;      
  text-shadow: 1px 1px rgb(190, 188, 188);
  text-shadow: 1.5px 1.5px white;
  text-shadow: 2px 2px rgb(106, 103, 103);
  padding: 3px 6px;
}
.text-skills{
  font-size: calc(7px + 1vw);
}
.image-skills{
  height: 3.5vw;
  min-height: 25px;
  max-width: 9vw;
}
.skills-little-box{
  text-align: center;
}

/* projects */
.projects-box{
  display: flex;
  justify-content: space-evenly;
}
.projects-box img{
  height: 100%;
  max-height: calc(30px + 5vw);
  transition: all 1s ease-in-out;
}
.projects-box img:hover{
  scale: 1.2;
  transition: all 0.2s ease-in-out;

}
.projects-box div{
  display: block;
  font-size: calc(12px + 1vw);
  text-align: center;
}
.project-text-box{
  padding: 5px 15px;
  box-shadow: 2px 2px 2px 2px black;
  text-align: left;
  width: 90%;
  max-width: 800px;
  margin-bottom: 20px;
}
.project-text-box strong{
  font-size: calc(18px + 1vw);
  text-indent: 15px;
}
.project-text-box div{
  font-size: calc(12px + 1vw);
  text-indent: 15px;
}
.project-text-box article{
  text-indent: 15px;
  text-align: justify;

}



/* hobbies */
.box-shadows{
  padding: 15px;
  box-shadow: 0 2vw 4vw rgba(1, 0, 0, 0.377);
}
.hobbies-box{
  font-size: calc(15px + 1vw);
  display: flex;
  justify-content: space-around;
}
.hobbies-box button:hover{
  box-shadow: 0 1vw 1vw rgb(1, 0, 0, 0.4);
}
.hobbies-box i:hover {
  scale: 1.4;
  transition: all 0.3s ease-in-out;
}
.hobbies-box i{
  transition: all 0.1s ease-in-out;
}

.hobbie-example-text{
  padding-top: 50px;
  text-indent: 20px;
  width: 80%;
  max-width: 700px;
  text-align: justify;
  margin: auto;
  font-size: calc(10px + 0.5vw);
}
.hobbie-example-text span{
  text-align: justify;
  font-style: italic;
  font-weight: 700;
  font-size: calc(8px + 0.5vw);

}
.info-sub-titles{
  font-size: calc(15px + 1.5vw);
  font-family: Alkalami;
  padding-left:20px;
  text-shadow: 1px 1px rgb(123, 120, 120);
  text-shadow: 1.5px 1.5px rgb(0, 0, 0);
  background-image: url("https://res.cloudinary.com/dfrda73uc/image/upload/v1668879841/donGions%20imgs/istockphoto-995576522-1024x1024_wxqfa7_1_qbh5nw.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}